How to query an APC UPS

I can't figure out how to decipher the documentation to determine how to accomplish querying an APC UPS.

I tried hlapi.getCmd:

```
from pysnmp.hlapi import *

errorIndication, errorStatus, errorIndex, snmpVal = getCmd(
	SnmpEngine(),
	UsmUserData(
            userName=snmpAuthUser,
	    authKey=snmpAuthPass,
	    authProtocol=authProtocol,
	    privKey=snmpPrivPass,
	),
        UdpTransportTarget((snmpHost, 161)),
	ContextData(),
        ObjectType(ObjectIdentity('1.3.6.1.4.1.318.1.1.1.2.2.3', TimeTicks))
)
```

This give me the error:

```
 MibNotFoundError: MIB file "1.3.6.1.4.1.318.1.1.1.2.2.3.py[co]" not found in search path.
```

I looked in the folder where the module is installed and found python files not mib files, however internet search eventually lead me to mibdump.py. I tried the following

```
mibdump.py --mib-source=file:///source/powernet431.mib  \
    --destination-directory=/home/user/.local/lib/python3.6/site-packages/pysnmp/smi/mibs apc
```

I got the following output:

```
> Source MIB repositories: file:///source/powernet431.mib
> Borrow missing/failed MIBs from: http://mibs.snmplabs.com/pysnmp/notexts/@mib@
> Existing/compiled MIB locations: pysnmp.smi.mibs, pysnmp_mibs
> Compiled MIBs destination directory: /home/user/.local/lib/python3.6/site-packages/pysnmp/smi/mibs
> MIBs excluded from code generation: INET-ADDRESS-MIB, PYSNMP-USM-MIB, RFC-1212, RFC-1215, RFC1065-SMI, RFC1155-SMI, RFC1158-MIB, RFC1213-MIB, SNMP-FRAMEWORK-MIB, SNMP-TARGET-MIB, SNMPv2-CONF, SNMPv2-SMI, SNMPv2-TC, SNMPv2-TM, TRANSPORT-ADDRESS-MIB
> MIBs to compile: apc
> Destination format: pysnmp
> Parser grammar cache directory: not used
> Also compile all relevant MIBs: yes
> Rebuild MIBs regardless of age: no
> Dry run mode: no
> Create/update MIBs: yes
> Byte-compile Python modules: yes (optimization level no)
> Ignore compilation errors: no
> Generate OID->MIB index: no
> Generate texts in MIBs: no
> Keep original texts layout: no
> Try various file names while searching for MIB module: yes
> Created/updated MIBs:
> Pre-compiled MIBs borrowed:
> Up to date MIBs:
> Missing source MIBs: apc
> Ignored MIBs:
> Failed MIBs:
```

The apc MIB isn't missing. It is in the source file I referenced. There were no additional files in /home/user/.local/lib/python3.6/site-packages/pysnmp/smi/mibs apc.

I did some more internet searching and found another suggestion:

```
from pysnmp.entity.rfc3413.oneliner import cmdgen

cmdGen = cmdgen.CommandGenerator()

errorIndication, errorStatus, errorIndex, snmpVal = cmdGen.getCmd(
	cmdgen.UsmUserData(
		snmpAuthUser,
		authKey=snmpAuthPro,
		authProtocol=authProtocol,
		privProtocol=privProtocol,
		privKey=snmpPrivPass
	),
	cmdgen.UdpTransportTarget((snmpHost, 161),snmpTimeout),
	'1.3.6.1.4.1.318.1.1.1.2.2.3'
)
```

I get the following error:

```
> pysnmp.smi.error.WrongValueError: WrongValueError({'idx': 1, 'name': (1, 3, 6, 1, 4, 1, 20408, 3, 1, 1, 1, 2, 1, 2, 97, 112, 99, 113, 117, 101, 114, 121), 'msg': WrongValueError()})
```

I also tried:

```
from pysnmp.entity.rfc3413.oneliner import cmdgen

cmdGen = cmdgen.CommandGenerator()

errorIndication, errorStatus, errorIndex, snmpVal = cmdGen.getCmd(
	cmdgen.UsmUserData(
		snmpAuthUser,
		authKey=snmpAuthPro,
		authProtocol=authProtocol,
		privProtocol=privProtocol,
		privKey=snmpPrivPass
	),
	cmdgen.UdpTransportTarget((snmpHost, 161),snmpTimeout),
	cmdgen.ObjectType(cmdgen.ObjectIdentity('1.3.6.1.4.1.318.1.1.1.2.2.3'),cmdgen.TimeTicks)
)
```

I got the same error.

I tried searching for what additional options are available for cmdgen.getCmd to see what other options there are to possibly address the issue, but I can't find it.  I have zero clue how to resolve the issue that I have. Please help.


I made some progress. I found the .py file in the source and used it as a refence. I still get an error, but a different one. What I have now:
`from pysnmp.entity.rfc3413.oneliner import cmdgen

snmpTimeout = 10
authProtocol = authProtocol = cmdgen.usmHMACMD5AuthProtocol
privProtocol = privProtocol = cmdgen.usmDESPrivProtocol

cmdGen = cmdgen.CommandGenerator()

errorIndication, errorStatus, errorIndex, snmpVal = cmdGen.getCmd(
	cmdgen.SnmpEngine(),
	cmdgen.UsmUserData(
		userName=snmpAuthUser,
		authKey=snmpAuthPass,
		authProtocol=authProtocol,
		privProtocol=privProtocol,
		privKey=snmpPrivPass
	),
	cmdgen.UdpTransportTarget((snmpHost, 161), timeout=snmpTimeout),
	cmdgen.ContextData(),
	ObjectType(ObjectIdentity('1.3.6.1.4.1.318.1.1.1.2.2.3'), cmdgen.TimeTicks),
	lookupMib=False
)`

The error I get now is:
> pysnmp.error.PySnmpError: Unsupported authentication object

So far as I can tell I have the correct parameters for UsmUserData() according to "pysnmp/hlapi/v3arch/auth.py"

Try pointing [this script](http://snmplabs.com/pysnmp/examples/hlapi/asyncore/sync/manager/cmdgen/mib-tweaks.html#custom-asn-1-mib-path) to the original ASN.1 text MIB(s) you need to query. Keep in mind that MIBs tend to depend on one another, so you might need to have more than one ASN.1 MIB in search path.

If you are using MIB you can refer to SNMP managed objects by names rather than by OIDs (see linked example).

There is a [large collection](http://mibs.snmplabs.com/asn1) of ASN.1 MIBs online, you can just point pysnmp to it so all the MIB dependencies would hopefully be resolved automatically. Keep in mind, that pysnmp compiles and caches required MIBs in `~/.pysnmp/mibs` by default, so, technically, you only need to source that online MIB repository once.


I gave up and wrote a shell script with snmpget instead.