Converting custom MIB to .py

Hello!
I am sorry if this has been asked before. I haven't had any success compiling and converting my custom mib to a .py format. 
I am using the mibdump and running the following...I have also put the SNMPV2SMI that my custom mib uses within the source folder

C:\Users\\Scripts>python
bdump.py --mib-source=file:///usr/share/snmp --mib-source http://mibs.snmplabs
om/asn1/@mib@ --destination-directory=file:///usr/share/snmp/dstn --destinatio
format=pysnmp SSCO-QMM-1440302-001
Source MIB repositories: file:///usr/share/snmp, http://mibs.snmplabs.com/asn1
mib@
Borrow missing/failed MIBs from: http://mibs.snmplabs.com/pysnmp/notexts/@mib@
Existing/compiled MIB locations: pysnmp.smi.mibs, pysnmp_mibs
Compiled MIBs destination directory: file:///usr/share/snmp/dstn
MIBs excluded from code generation: INET-ADDRESS-MIB, PYSNMP-USM-MIB, RFC-1212
RFC-1215, RFC1065-SMI, RFC1155-SMI, RFC1158-MIB, RFC1213-MIB, SNMP-FRAMEWORK-M
, SNMP-TARGET-MIB, SNMPv2-CONF, SNMPv2-SMI, SNMPv2-TC, SNMPv2-TM, TRANSPORT-AD
ESS-MIB
MIBs to compile: SSCO-QMM-1440302-001
Destination format: pysnmp
Parser grammar cache directory: not used
Also compile all relevant MIBs: yes
Rebuild MIBs regardless of age: no
Dry run mode: no
Create/update MIBs: yes
Byte-compile Python modules: yes (optimization level no)
Ignore compilation errors: no
Generate OID->MIB index: no
Generate texts in MIBs: no
Keep original texts layout: no
Try various file names while searching for MIB module: yes
Created/updated MIBs:
Pre-compiled MIBs borrowed:
Up to date MIBs:
Missing source MIBs: SSCO-QMM-1440302-001
Ignored MIBs:
Failed MIBs:

![image](https://user-images.githubusercontent.com/84510536/121540703-b3b27980-c9d4-11eb-890b-6c953aae811b.png)


`mibdump` has many assumptions of the input arguments, so passing `SSCO-QMM-1440302-001` isn't going to work if this is not the actual module name of this MIB document.