How to load Pet file and print to var-binds

I'm a newbie python and pysnmp.
My result when receiver trap.
```
Notification message from (1, 3, 6, 1, 6, 1, 1):('192.168.51.28', 2048):
Enterprise: 1.3.6.1.4.1.3183.1.1
Agent Address: 192.168.51.28
Generic Trap: enterpriseSpecific
Specific Trap: 2780930
Uptime: 1571798391
Community: SVR248
Var-binds:
1.3.6.1.4.1.3183.1.1.1 = 0x373030314d530025900b822b0000000000f12904e0f7ffff20200220ff1800f2ffff00000000001980b900000a048000012ac1
```
My format Pet file.

```
PET-EVENTS DEFINITIONS ::= BEGIN

	IMPORTS
		enterprises
			FROM RFC1155-SMI
		OBJECT-TYPE
			FROM RFC-1212

        	TRAP-TYPE
		        FROM RFC-1215
  

		DisplayString
			FROM RFC1213-MIB;

	wiredformgmt     OBJECT IDENTIFIER ::= { enterprises 3183 }
	pet              OBJECT IDENTIFIER ::= { wiredformgmt 1 }

-- MODULE IDENTIFICATION
--
--  PET Events Alerting MODULE-IDENTITY
--  LAST-UPDATED "February 4, 2004"
--  ORGANIZATION "Intel Corporation"
--  CONTACT-INFO
--   " PET Events,
--     Intel Corporation, DP3-407
--	   DuPont, WA 98352"
--  DESCRIPTION
--  "This is the MIB file for SNMPv1.0 based PET traps"


-- ****************************************
-- SYSTEM INFORMATION BRANCH STARTS HERE.
-- ****************************************

	petevts   		OBJECT IDENTIFIER ::= { pet 1 }


-- **********************************************
-- *		Temperature			*
-- **********************************************

-- Temperature has decreased below lower non-critical threshold
 trapUnderTemperatureWarningLow TRAP-TYPE
 ENTERPRISE petevts
 DESCRIPTION 
 "Under-Temperature Warning (Lower non-critical, going low)"

 --#TYPE       "Temperature Event"
 --#SUMMARY    "Under-Temperature Warning (Lower non-critical, going low)"
 --#ARGUMENTS  {}
 --#SEVERITY   WARNING

 ::= 65792
```